{%- set external_urls = {
  'github': 'https://github.com/PytorchLightning/lightning-kaggle',
  'github_issues': 'https://github.com/PytorchLightning/lightning-kaggle/issues',
  'contributing': 'https://github.com/PytorchLightning/pytorch-lightning/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/PytorchLightning/pytorch-lightning/blob/master/governance.md',
  'docs': 'https://lightning-kaggle.rtfd.io/en/latest',
  'twitter': 'https://twitter.com/PyTorchLightnin',
  'discuss': 'https://pytorch-lightning.slack.com',
  'tutorials': 'https://lightning-kaggle.readthedocs.io/en/latest/#tutorials',
  'previous_pytorch_versions': 'https://lightning-kaggle.rtfd.io/en/latest/',
  'home': 'https://lightning-kaggle.rtfd.io/en/latest/',
  'get_started': 'https://lightning-kaggle.readthedocs.io/en/latest/introduction_guide.html',
  'features': 'https://lightning-kaggle.rtfd.io/en/latest/',
  'blog': 'https://towardsdatascience.com/@_willfalcon',
  'resources': 'https://lightning-kaggle.readthedocs.io/en/latest/#community-examples',
  'support': 'https://lightning-kaggle.rtfd.io/en/latest/',
}
-%}
